*.iml
.gradle
local.properties
.idea
.kotlin
.DS_Store
/build
/captures
.externalNativeBuild
.cxx

# Firebase config
google-services.json
GoogleService-Info.plist

# Android release build outputs
app/release/

# CocoaPods
iosApp/Pods/

iosApp/iosApp.xcworkspace/
GoogleService-Info.plist
